<% include header %>
	
  		
    <section class="short-image no-padding blog-short-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-12 short-image-title">
					<h5 class="subtitle-margin second-color">Tableau de bord</h5>
					<h1 class="second-color">mon agenda</h1>
					<div class="short-title-separator"></div>
				</div>
			</div>
		</div>
    </section>
	
	<section class="section-light section-top-shadow">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-3 col-md-push-1">
					<div class="sidebar-left">
						<h3 class="sidebar-title">Bon retour parmis nous<span class="special-color">.</span></h3>
						<div class="title-separator-primary"></div>
						
						<div class="profile-info margin-top-60">
							<div class="profile-info-title negative-margin"><%= locals.session.userFirstName %> <%= locals.session.userName %></div>
							<img src="<%= locals.etabObj !== undefined ? locals.etabObj[0].path_img : '/asset/content/img/default_pro_profile.jpeg' %>" alt="" class="pull-left" />
							<div class="profile-info-text pull-left">
								<p class="subtitle-margin">
									<% if (locals.session.userType == 2){ %> 
										Professionnel Audio
									<% }else if(locals.session.userType == 3){ %>
										Professionnel Vidéo
									<% }else{ %>
										Administrateur
									<% } %>
								</p>
								
								<a href="#logout-modal" class="logout-link margin-top-30" data-toggle="modal"><i class="fas fa-lg fa-sign-out-alt"></i>Se déconnecter</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="center-button-cont margin-top-30">
							<a href="/upload-files" class="button-primary button-shadow button-full">
								<span>Mes documents</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fa fa-th-list"></i></div>
							</a>
						</div>
						<div class="center-button-cont margin-top-15">
							<a href="/info-pro" class="button-primary button-shadow button-full">
								<span>Mon profile</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fa fa-user"></i></div>
							</a>
						</div>
						<div class="title-separator-primary"></div>
						<div class="center-button-cont margin-top-15">
							<a href="#pro-payment-modal" data-toggle="modal" class="button-primary button-shadow button-full">
								<span>Mes abonnements</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fa fa-th-list"></i></div>
							</a>
						</div>
						<div class="center-button-cont margin-top-15">
							<a href="#" id="redirectAdmin" class="button-alternative button-shadow button-full">
								<span>Une reclamation</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="jfont fa-lg">&#xe804;</i></div>
							</a>
						</div>
						
					</div>
				</div>
				<div class="col-xs-12 col-md-9 col-md-push-1">
					<div data-name="global_msg"></div>
					<div class="col-xs-12 margin-top-60">
						<h3 class="title-negative-margin">Mon agenda<span class="special-color">.</span></h3>
						<div class="title-separator-primary"></div>
					</div>
						<div id='wrap'>
						<div id='external-events'>
							<div class="datepicker labelled-input-short">
								<span>Horaire d'ouverture</span>
								<div class="clearfix"></div>
								<label for="open">
										<i class="fas fa-door-open icon-social porte-ouverte"></i>
								</label>
								<input id="open" name="ouverture" type="text" class="input-full main-input" placeholder="" value=""/>
								<div class="clearfix"></div>
							</div>
							<div class="datepicker labelled-input-short">
								<span>Horaire de fermeture</span>
								<div class="clearfix"></div>
								<label for="close">
										<i class="fas fa-door-closed icon-social porte-ferme"></i>
								</label>
								<input id="close" name="fermeture" type="text" class="input-full main-input" placeholder="" value=""/>
								<div class="clearfix"></div>
							</div>
						    <p><strong>pour les jours suivants :</strong></p>
							<div class="boxes dark-col">
							  <input type="checkbox" id="lundi">
							  <label for="lundi">Lundi</label>

							  <input type="checkbox" id="mardi">
							  <label for="mardi">Mardi</label>

							  <input type="checkbox" id="mercredi">
							  <label for="mercredi">Mercredi</label>

							  <input type="checkbox" id="jeudi">
							  <label for="jeudi">Jeudi</label>

							  <input type="checkbox" id="vendredi">
							  <label for="vendredi">Vendredi</label>

							  <input type="checkbox" id="samedi">
							  <label for="samedi">Samedi</label>

							  <input type="checkbox" id="dimanche">
							  <label for="dimanche">Dimanche</label>
							</div>
						    <p><strong>pause du midi ou fermeture exeptionnelle de :</strong></p>
							<div class="datepicker">
								<input name="pausedeb" type="text" class="input-full main-input" placeholder="" value=""/>
								<div class="clearfix"></div>
							</div>
						    <p><strong>A :</strong></p>
							<div class="datepicker">
								<input name="pausefin" type="text" class="input-full main-input" placeholder="" value=""/>
								<div class="clearfix"></div>
							</div>
						</div>
						<div id='calendar'></div>
						<div id="dishoraire" class="col-md-9">
							<p class="horaire-align calendar-msg"><strong>Mes horaires :</strong></p>
							<div class="center-button-cont margin-top-15">
								<a href="#" class="savecal button-alternative button-shadow button-full">
									<span>Sauvegarder</span>
									<div class="button-triangle"></div>
									<div class="button-triangle2"></div>
									<div class="button-icon"><i class="jfont fa-lg">&#xe804;</i></div>
								</a>
							</div>
						</div>
						<div style='clear:both'></div>
						</div>
				</div>
					</form>
					<div class="row margin-top-60"></div>
				</div>			
			</div>
		</div>
	</section>
	<script>
    	var user = {};
		var session = {}, calendar = {};
		user.id = "<%- locals.session.userId != undefined ? 
			locals.session.userId : "null" %>";
		user.nom = "<%- locals.session.userName ? 
			locals.session.userName : "null" %>";
		user.prenom = "<%- locals.session.userFirstName ? 
			locals.session.userFirstName : "null" %>";
		user.type = "<%- locals.session.userType ? 
			locals.session.userType : "null" %>";
		user.mail = "<%- locals.session.userMail ? 
			locals.session.userMail : "null" %>";
		session.token = "<%- locals.session.token != undefined ? 
			locals.session.token : "null" %>";
		calendar.dow = '<%- locals.dow != undefined ? 
			locals.dow : "null" %>';
		calendar.event = <%- locals.eventObj != undefined ? 
			locals.eventObj : "null" %>;	
		// console.log(session);
		// console.log(calendar);
		session.user = user;
		sessionStorage.setItem("session", JSON.stringify(session));
		sessionStorage.setItem("calendar", JSON.stringify(calendar));
    </script>
<% include footer %>