<footer class="small-cont">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 small-cont">
      </div>
      <div class="col-xs-12 col-md-6 footer-copyrights">
        &copy; Copyright 2018 <a href="http://label-onair.com" target="blank">Label On Air</a>. All rights reserved.
      </div>
    </div>
  </div>
</footer>
</div>

<!-- Move to top button -->

<div class="move-top">
<div class="big-triangle-second-color"></div>
<div class="big-icon-second-color"><i class="jfont fa-lg">&#xe803;</i></div>
</div>

<!-- Login modal -->
<div class="modal fade apartment-modal" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title login-msg">
          <h1>Connexion<span class="special-color">.</span></h1>
          <div class="short-title-separator"></div>
        </div>
        <input name="login" type="email" class="input-full main-input" placeholder="Email" />
        <input name="password" type="password" class="input-full main-input" placeholder="Votre mot de passe" />
        <a data-action="login" href="#" class="button-primary button-shadow button-full">
          <span>Se connecter</span>
          <div class="button-triangle"></div>
          <div class="button-triangle2"></div>
          <div class="button-icon"><i class="fa fa-user"></i></div>
        </a>
        <a href="#" class="forgot-link pull-right">Mot de passe oublié?</a>
        <div class="clearfix"></div>
        <!--<p class="login-or">OU</p>
        <a href="#" class="facebook-button">
          <i class="fa fa-facebook"></i>
          <span>Se connecter avec Facebook</span>
        </a>
        <a href="#" class="google-button margin-top-15">
          <i class="fa fa-google-plus"></i>
          <span>Se connecter avec Google</span>
        </a>-->
        <p class="modal-bottom">Pas encore inscrit? <a href="#" class="register-link">S'enregistrer</a></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Register modal -->
<div class="modal fade apartment-modal" id="register-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title register-msg">
          <h1>S'enregistrer<span class="special-color">.</span></h1>
          <div class="short-title-separator"></div>
        </div>
        <!--<input type="radio" id="c1" name="type" class="main-checkbox" checked value="2" />
        <label for="c1"><span></span>Professionnel Audio</label><br/>-->
        <input type="radio" id="c2" name="type" class="main-checkbox" value="3" />
        <label for="c2"><span></span>Professionnel Vidéo</label><br/>
        <input type="radio" id="c3" name="type" class="main-checkbox" value="4" checked />
        <label for="c3"><span></span>Artiste</label><br/>
        <input name="first_name" type="text" class="input-full main-input" placeholder="Prénom*" />
        <input name="last_name" type="text" class="input-full main-input" placeholder="Nom*" />
        <input name="login" type="email" class="input-full main-input" placeholder="Email*" />
        <input name="password" type="password" class="input-full main-input" placeholder="Mot de passe*" />
        <input name="confirm_password" type="password" class="input-full main-input" placeholder="Confirmation du mot de passe*" />
        <a data-action="register" href="#" class="button-primary button-shadow button-full">
          <span>S'enregistrer</span>
          <div class="button-triangle"></div>
          <div class="button-triangle2"></div>
          <div class="button-icon"><i class="fa fa-user"></i></div>
        </a>
        <div class="clearfix"></div>
        <!--<p class="login-or">OU</p>
        <a href="#" class="facebook-button">
          <i class="fa fa-facebook"></i>
          <span>S'enregistrer avec Facebook</span>
        </a>
        <a href="#" class="google-button margin-top-15">
          <i class="fa fa-google-plus"></i>
          <span>S'enregistrer avec Google</span>
        </a>-->
        <p class="modal-bottom">Déjà inscrit? <a href="#" class="login-link">Se connecter</a></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Logout modal -->
<div class="modal fade apartment-modal" id="logout-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title logout-msg">
          <h1>Déconnexion<span class="special-color">.</span></h1>
          <div class="short-title-separator"></div>
        </div>
        <a data-action="logout" href="#" class="button-primary button-shadow button-full">
          <span>Se déconnecter</span>
          <div class="button-triangle"></div>
          <div class="button-triangle2"></div>
          <div class="button-icon"><i class="fa fa-user"></i></div>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Forgotten password modal -->
<div class="modal fade apartment-modal" id="forgot-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title">
          <h1>Mot de passe oublié<span class="special-color">?</span></h1>
          <div class="short-title-separator"></div>
        </div>
        <p class="negative-margin forgot-info">Insérez votre adresse email.<br/>Nous vous enverrons un lien qui permettra de mettre à jour votre mot de passe à l'adresse email indiquée.</p>
        <input name="login" type="email" class="input-full main-input" placeholder="Votre email" />
        <a data-action="forgottenPassword" href="#" class="button-primary button-shadow button-full">
          <span>Réinitialiser mot de passe</span>
          <div class="button-triangle"></div>
          <div class="button-triangle2"></div>
          <div class="button-icon"><i class="fa fa-user"></i></div>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- pro-payment modal -->
<div class="modal fade apartment-modal" id="pro-payment-modal">
  <div class="modal-dialog" style="width: 35%;">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title pro-payment-msg">
          <h1>Paiements<span class="special-color">.</span></h1>
          <div class="short-title-separator"></div>
        </div>
        <p id="result" class="bg-info" style="display: none;padding: 15px;font-size: 17px;text-align: center;color: black;"></p>
        <div id="processing" style="display:none;">
          <p class="text-center">Processing...</p>
        </div>
      <% var status = locals.session.abonnement !== undefined ? locals.session.abonnement : false; //(Function) check if abonnement is actif
      if (status){ %>
        <a href="#" class="button-primary button-shadow button-full" id="customButton" data-action="delete">
          <span>Supprimer abonnement</span>
          <div class="button-triangle"></div>
          <div class="button-triangle2"></div>
          <div class="button-icon"><i class="fa fa-user"></i></div>
        </a>
      <p class="bg-warning" style="display: block;padding: 15px;font-size: 17px;text-align: center;color: black;">Votre prochain prélèvement seras effectué le <strong style="color: #d9534f;">02/04/2019</strong></p>
      <% }else { %>
        <a href="#" class="button-primary button-shadow button-full" id="customButton" data-action="create">
          <span>Créer un abonnement</span>
          <div class="button-triangle"></div>
          <div class="button-triangle2"></div>
          <div class="button-icon"><i class="fa fa-user"></i></div>
        </a>
      <% } %>
      <iframe src="/historique_payment" style="width: 100%;position: relative;border: none;height: 420px;overflow: auto;"></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- jQuery  -->
  <script type="text/javascript" src="/asset/js/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="/asset/js/jQuery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/asset/js/jQuery/jquery.easyPaginate.js"></script>

<!-- Bootstrap-->
  <script type="text/javascript" src="/asset/bootstrap/bootstrap.min.js"></script>
<!-- Google Maps -->
<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDfDCV5hXiPamCIT8_vwGXuzimLQ9MF76g&amp;sensor=false&amp;libraries=places"></script> -->

<!-- plugins script -->
<script type="text/javascript" src="/asset/js/plugins.js"></script>
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="/asset/js/bootstrap-select.js"></script> -->
<script type="text/javascript" src="/asset/js/serviceWorker.min.js"></script>
<script type="text/javascript" src="/asset/js/push.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-fr_FR.min.js"></script>
<!-- template scripts -->
<script type="text/javascript" src="/asset/mail/validate.js"></script>
<script type="text/javascript" src="/asset/js/isotop-v3.0.6.js"></script>
<script type="text/javascript" src="/asset/js/apartment.js"></script>
<!-- Payment scripts -->
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript" src="/asset/js/payment_secure.js"></script>
<script>
  <% if (locals.session)  { %>
    var user = {};
    var session = {};
    session.token = "<%- locals.session.token != undefined ?
      locals.session.token : "null" %>";
    user.id = "<%- locals.session.userId != undefined ?
      locals.session.userId : "null" %>";
    user.nom = "<%- locals.session.userName ?
      locals.session.userName : "null" %>";
    user.type = "<%- locals.session.userType ?
      locals.session.userType : "null" %>";
    user.prenom = "<%- locals.session.userFirstName ?
      locals.session.userFirstName : "null" %>";
    user.mail = "<%- locals.session.userMail ?
      locals.session.userMail : "null" %>";
    //console.log(session);
    session.user = user;
    sessionStorage.setItem("session", JSON.stringify(session));
<% } %>
</script>
<script type="module" src="/asset/js/login.js"></script>
<script type="module" src="/asset/js/forgottenPassword.js"></script>
<script type="module" src="/asset/js/updatePassword.js"></script>
<script type="module" src="/asset/js/register.js"></script>
<script type="module" src="/asset/js/search.js"></script>
<script type="module" src="/asset/js/upload_files.js"></script>
<script type="module" src="/asset/js/logout.js"></script>
</body>
</html>
