*-*<% include header %>

    <div class="slider-wrapper" style="width:100%;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="z-index:9;position:  relative;top: 240px;height: 0px;">
                        <% include popup_forms %>
                        <!-- Rotation du text base line https://codepen.io/amritleone/pen/qERPmW -->
                        <h2 class="base-line">roi aui degenere
                            <div class="slidingVertical">
                              <span>Amazing.</span>
                              <span>Beautiful.</span>
                              <span>The game</span>
                              <span>Delightful.</span>
                              <span>Emotional.</span>
                            </div>
                        </h2>
                        <div class="jp_header_form_wrapper">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <input type="text" placeholder="Keyword e.g. (Job Title, Description, Tags)">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="jp_form_location_wrapper">
                                    <i class="far fa-dot-circle first_icon"></i><select>
                                <option>Select Location</option>
                                <option>Select Location</option>
                                <option>Select Location</option>
                                <option>Select Location</option>
                                <option>Select Location</option>
                            </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="jp_form_exper_wrapper">
                                    <i class="far fa-dot-circle first_icon"></i><select>
                                <option>Experience</option>
                                <option>Experience</option>
                                <option>Experience</option>
                                <option>Experience</option>
                                <option>Experience</option>
                            </select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                <div class="jp_form_btn_wrapper">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-search"></i> Search</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

<div id="overl" style="background-color: #7a8c95;">

  <img src="asset/images/shooting-clip.gif" alt="record image et son" style="position: relative;height: 660px;">

</div>
         
        <a href="#firstSection"><i class="fa fa-chevron-down" id="go-down"></i></a>        
</div><!-- end of slider-wrapper -->

    <section class="feature-list">
    	<div class="container">
        	
        	<div class="col-lg-4 feature anim fadeInLeft" data-wow-delay="0.25s">
            	<i class="fa fa-trophy"></i>
                <div class="content">
                    <h4>Award-Winning Designs</h4>
                    <p>Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen risus at semper ullamcorp.</p>
                </div>
            </div>
            
        	<div class="col-lg-4 feature anim fadeInDown" data-wow-delay="0.25s">
            	<i class="fa fa-eye"></i>
                <div class="content">
                    <h4>Retina-Ready</h4>
                    <p>Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen risus at semper ullamcorp.</p>
                </div>
            </div>
            
        	<div class="col-lg-4 feature anim fadeInRight" data-wow-delay="0.25s">
            	<i class="fa fa-flask"></i>
                <div class="content">
                    <h4>Creative Colors</h4>
                    <p>Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen risus at semper ullamcorp.
                    Appreicate the  </p>
                </div>
            </div>
            
            <!-- Second Row -->
            <div class="col-lg-4 feature anim fadeInLeft" data-wow-delay="0.5s">
            	<i class="fa fa-expand"></i>
                <div class="content">
                    <h4>Responsive Design</h4>
                    <p>Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen risus at semper ullamcorp.</p>
                </div>
            </div>
            
        	<div class="col-lg-4 feature anim fadeInUp" data-wow-delay="0.5s">
            	<i class="fa fa-bug"></i>
                <div class="content">
                    <h4>SEO Optimized</h4>
                    <p>Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen risus at semper ullamcorp.</p>
                </div>
            </div>
            
        	<div class="col-lg-4 feature anim fadeInRight" data-wow-delay="0.5s">
            	<i class="fa fa-coffee"></i>
                <div class="content">
                    <h4>Beautiful Code</h4>
                    <p>Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen risus at semper ullamcorp.</p>
                </div>
            </div>
            <!-- End of second row --> 
            
        </div>
    </section><!-- .feature-list -->

    <section class="content-section" id="firstSection">
        <div class="container">
            <h1 class="anim fadeInDown"><i class="fa fa-gear"></i>OUR <span>SERVICES</span></h1>
            <p class="anim fadeInUp">
                We offer many various services at Dale! We will list a few right here,
                right now just to show you how incredibly awesome we are at our company!
            </p>
        </div>
    </section>
    
    <section class="content-section parallax-bg-2 team" data-stellar-background-ratio="0.15" data-stellar-vertical-offset="150">

    	<div class="container">
        	<div class="col-lg-12 anim fadeInDown">
            
            	<div class="relative">
                    <!-- masterslider -->
                    <div class="master-slider wrapper" id="teamslider">
                    
                        <div class="ms-slide" data-member-id="1" data-title="Optional Title">
                            <img src="asset/images/design/blank.html" data-src="asset/images/team1.jpg" alt="lorem ipsum dolor sit"/>
                            
                          	<div class="ms-info">
                            	<span class="name">ELLEN JOHN</span>
                            	<span class="position">Public Relations</span>
                            </div><!-- .ms-info -->
                        </div>
                        
                        <div class="ms-slide" data-member-id="2">
                            <img src="asset/images/design/blank.html" data-src="asset/images/team2.jpg" alt="lorem ipsum dolor sit"/>
                            
                            <div class="ms-info">
                            	<span class="name">PAUL HOLDER</span>
                            	<span class="position">Team Motivator</span>
                            </div><!-- .ms-info -->
                        </div>
                        
                        <div class="ms-slide" data-member-id="3">
                            <img src="asset/images/design/blank.html" data-src="asset/images/team4.jpg" alt="lorem ipsum dolor sit"/>
                            
                            <div class="ms-info">
                            	<span class="name">SARAH SMITH</span>
                            	<span class="position">Marketing Director</span>
                            </div><!-- .ms-info -->
                        </div>
                        
                        <div class="ms-slide" data-member-id="4">
                            <img src="asset/images/design/blank.html" data-src="asset/images/team3.jpg" alt="lorem ipsum dolor sit"/>
                            
                            <div class="ms-info">
                            	<span class="name">MARK DOE</span>
                            	<span class="position">Company CEO</span>
                            </div><!-- .ms-info -->
                        </div>
                       
                    </div>
                      
                    <div class="ms-info" id="staff-info"></div>
                    <div class="fas fa-chevron-left ms-nav-prev"></div>
                    <div class="fas fa-chevron-right ms-nav-next"></div>
           		</div><!-- .relative -->
                
            </div><!-- .col-lg-12 -->
            
            <div class="member-box-wrapper">
                
                 <!-- Person 1 Box -->
                <div class="member-box" id="1">
                   
                    <div class="color-wrapper">
                    	<a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="asset/images/team1.jpg" alt="lorem ipsum dolor sit"/>
                        <strong>Ellen John</strong>
                        <span>Public Relations</span>
                        <ul class="social-media">
                        	<li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>
                        	<li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>
                        	<li><a href="#linkedin"><i class="fa fa-linkedin"></i></a></li>
                        	<li><a href="#github"><i class="fa fa-github"></i></a></li>
                        	<li><a href="#pintrest"><i class="fa fa-pinterest"></i></a></li>
                        	<li><a href="#email"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                       	<h3>About Me</h3>
                       	<p>Phasellus condimentum sed diam vel vulputate. Pellentesque <a href="#">external link</a> nunc.
                        Nullam volutpat dapibus orci, a porttitor dolor dignissim id. Nulla turpis 
                        tellus, sodales nec tincidunt in, auctor ac lacus.</p>
                         
                        <h3>Skills</h3>
                        <ul class="bars">
                        	<li>
                            	<strong>Speaking</strong>
                                <span>90%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                            	<strong>People</strong>
                                <span>88%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="80"></div></div>
                            </li>
                            <li>
                            	<strong>Marketing</strong>
                                <span>86%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="86"></div></div>
                            </li>
                            <li>
                            	<strong>Campaigning</strong>
                                <span>82%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="82"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->
                
                <!-- Person 2 Box -->
                <div class="member-box" id="2">
                
                	<div class="color-wrapper">
                    	<a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="asset/images/team2.jpg" alt="lorem ipsum dolor sit"/>
                        <strong>Paul Holder</strong>
                        <span>Team Motivator</span>
                        <ul class="social-media">
                        	<li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>
                        	<li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>
                        	<li><a href="#linkedin"><i class="fa fa-linkedin"></i></a></li>
                        	<li><a href="#github"><i class="fa fa-github"></i></a></li>
                        	<li><a href="#pintrest"><i class="fa fa-pinterest"></i></a></li>
                        	<li><a href="#email"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                       	<h3>About Me</h3>
                       	<p>Lorem ipsum dolor sit amet, <a href="#">external link</a> consectetur adipiscing elit. Ut urna velit,
                        laoreet a tincidunt non, ullamcorper vitae mauris.  Ut id dui nec enim 
                        volutpat vehicula ut eget nunc.</p>
                         
                        <h3>Skills</h3>
                        <ul class="bars">
                        	<li>
                            	<strong>Communication</strong>
                                <span>95%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="95"></div></div>
                            </li>
                            <li>
                            	<strong>Public Relations</strong>
                                <span>90%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                            	<strong>Marketing</strong>
                                <span>86%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="86"></div></div>
                            </li>
                            <li>
                            	<strong>Campaigning</strong>
                                <span>82%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="82"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                    
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->
                
                 <!-- Person 3 Box -->
                <div class="member-box" id="3">
                
                	 <div class="color-wrapper">
                    	<a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="asset/images/team4.jpg" alt="lorem ipsum dolor sit"/>
                        <strong>Sarah Smith</strong>
                        <span>Marketing Director</span>
                        <ul class="social-media">
                        	<li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>
                        	<li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>
                        	<li><a href="#linkedin"><i class="fa fa-linkedin"></i></a></li>
                        	<li><a href="#github"><i class="fa fa-github"></i></a></li>
                        	<li><a href="#pintrest"><i class="fa fa-pinterest"></i></a></li>
                        	<li><a href="#email"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                       	<h3>About Me</h3>
                       	<p>Phasellus condimentum sed diam vel vulputate. Pellentesque nec lorem nunc.
                        Nullam volutpat dapibus orci, a <a href="#">external link</a> id. Nulla turpis 
                        tellus, sodales nec tincidunt in, auctor ac lacus.</p>
                         
                        <h3>Skills</h3>
                        <ul class="bars">
                        	<li>
                            	<strong>Speaking</strong>
                                <span>90%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                            	<strong>People</strong>
                                <span>88%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="80"></div></div>
                            </li>
                            <li>
                            	<strong>Marketing</strong>
                                <span>86%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="86"></div></div>
                            </li>
                            <li>
                            	<strong>Campaigning</strong>
                                <span>82%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="82"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                   
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->
                
                 <!-- Person 3 Box -->
                <div class="member-box" id="4">
                
                	<div class="color-wrapper">
                    	<a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="asset/images/team3.jpg" alt="lorem ipsum dolor sit"/>
                        <strong>Mark Doe</strong>
                        <span>Company Ceo</span>
                        <ul class="social-media">
                        	<li><a href="#twitter"><i class="fa fa-twitter"></i></a></li>
                        	<li><a href="#facebook"><i class="fa fa-facebook"></i></a></li>
                        	<li><a href="#linkedin"><i class="fa fa-linkedin"></i></a></li>
                        	<li><a href="#github"><i class="fa fa-github"></i></a></li>
                        	<li><a href="#pintrest"><i class="fa fa-pinterest"></i></a></li>
                        	<li><a href="#email"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                       	<h3>About Me</h3>
                       	<p>Phasellus condimentum sed diam vel vulputate. Pellentesque nec lorem nunc.
                        Nullam volutpat dapibus orci, a <a href="#">external link</a> id. Nulla turpis 
                        tellus, sodales nec tincidunt in, auctor ac lacus.</p>
                         
                        <h3>Skills</h3>
                        <ul class="bars">
                        	<li>
                            	<strong>Speaking</strong>
                                <span>90%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                            	<strong>People</strong>
                                <span>88%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="80"></div></div>
                            </li>
                            <li>
                            	<strong>Marketing</strong>
                                <span>86%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="86"></div></div>
                            </li>
                            <li>
                            	<strong>Campaigning</strong>
                                <span>82%</span>
                            	<div class="progress"><div class="progress-bar" role="progressbar" data-value="82"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                    
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->
                
        	</div><!-- .member-box-wrapper -->
        </div><!-- .container -->
    </section><!-- .team -->
    
    <section class="content-section anim fadeInDown" data-wow-delay="0.25s">
        <div class="container">
            <h1><i class="fa fa-pencil"></i>OUR <span>WORK</span></h1>
              <p>We offer many various services at Dale! We will list a few right here, right now just to show you how incredibly awesome we are at our company!</p>
        </div>
    </section>

    <section class="content-section anim fadeInDown">
        <div class="container">
            <h1><i class="fa fa-pencil-square-o"></i>CONTACT <span>US</span></h1>
         	<p>
              	Our primary concern is dealing with our customers and making sure that they are satisfied.
               	Any questions, comments, or concerns you may have are very important to us.
       		</p>
        </div>
    </section><!-- .content-section -->
   
    <section class="content-section form contact-general light">
    	<div class="container">
        	
            <span id="message"></span><!-- remove #message to stop floating jQuery messages -->
            
            <form target="#" name="contact">
                <div class="col-lg-5 anim fadeInLeft">
                
                    <span class="input-group">
                        <i class="fa fa-user"></i>
                        <input type="text" name="contactName" id="contactName" class="lg" placeholder="Name" />
                    </span><!-- .input-group -->
                    
                    <span class="input-group">
                        <i class="fa fa-envelope"></i>
                        <input type="text" name="contactEmail" id="contactAddress" class="lg" placeholder="Email Address" />
                    </span><!-- .input-group -->
                    
                   	<span class="input-group">
                        <i class="fa fa-book"></i>
                        <input type="text" name="contactSubject" id="contactSubject" class="lg" placeholder="Subject" />
                    </span><!-- .input-group -->
                    
                </div><!-- .col-5 -->
                
                <div class="col-lg-7 anim fadeInRight">
                
                 	<span class="input-group">
                        <textarea name="contactMessage" id="contactMessage" class="lg" placeholder="What's on your mind?"></textarea>
                    </span><!-- .input-group -->
                    
                    <span class="input-group">
                    	<button class="submit" id="submit_contact" data-loading-text="SENDING...">SEND</button>
                    </span><!-- .input-group -->
                </div>
            </form>
    	</div><!-- .container -->
    	
        <span id="message_sent"><i class="fa-check fa"></i></span><!-- jQuery display of giant checkmark -->	
        
    </section><!-- .content-section .form -->
<script type="text/javascript">
	setInterval(function(){
	document.getElementById('overl').style.filter  = "blur(3px)";
},3000);
</script>

<% include footer %>
<% if (locals.errors !== undefined && locals.errors) { 
    if (locals.errors.nom !== undefined) { 
        for (var i = locals.errors.nom.length - 1; i >= 0; i--) {
        %>
            <p><%= locals.errors.nom[i]%></p>
        <% }%>    
    <% }
    if (locals.errors.prenom !== undefined) { 
        for (var i = locals.errors.prenom.length - 1; i >= 0; i--) {
        %>
            <p><%= locals.errors.prenom[i]%></p>
        <% }%>  
    <% }
    if (locals.errors.email !== undefined) { 
        for (var i = locals.errors.email.length - 1; i >= 0; i--) {
        %>
            <p><%= locals.errors.email[i]%></p>
        <% }%>    
    <% }
    if (locals.errors.password !== undefined) { 
        for (var i = locals.errors.password.length - 1; i >= 0; i--) {
        %>
            <p><%= locals.errors.password[i]%></p>
        <% }%>    
    <% }
    if (locals.errors.type_pro !== undefined) { 
        for (var i = locals.errors.type_pro.length - 1; i >= 0; i--) {
        %>
            <p><%= locals.errors.type_pro[i]%></p>
        <% }%>    
    <% }
} %>
