<% include header %>
    <section class="short-image no-padding blog-short-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-12 short-image-title">
					<h5 class="subtitle-margin second-color">dashboard</h5>
					<h1 class="second-color">Mon compte</h1>
					<div class="short-title-separator"></div>
				</div>
			</div>
		</div>
    </section>

	<section class="section-light section-top-shadow">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-3 col-md-push-1">
					<div class="sidebar-left">
						<h3 class="sidebar-title">Welcome back<span class="special-color">.</span></h3>
						<div class="title-separator-primary"></div>

						<div class="profile-info margin-top-60">
							<div class="profile-info-title negative-margin">Timothy Johnson</div>
							<img src="<%= locals.etabObj.length > 0 ? locals.etabObj[0].path_img : '/asset/content/img/default_pro_profile.jpeg' %>" alt="" class="pull-left" />
							<div class="profile-info-text pull-left">
								<p class="subtitle-margin">Agent</p>
								<p class="">42 Estates</p>

								<a href="#logout-modal" data-toggle="modal" class="logout-link margin-top-30"><i class="fas fa-lg fa-sign-out-alt"></i>Logout</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="center-button-cont margin-top-30">
							<a href="/agenda" class="button-primary button-shadow button-full">
								<span>Mon Agenda</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fas fa-calendar-alt"></i></div>
							</a>
						</div>
						<div class="center-button-cont margin-top-15">
							<a href="/upload-files" class="button-primary button-shadow button-full">
								<span>Mes documents</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fa fa-th-list"></i></div>
							</a>
						</div>
						<div class="center-button-cont margin-top-15">
							<a href="#pro-payment-modal" data-toggle="modal" class="button-primary button-shadow button-full">
								<span>Mes abonnements</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fa fa-th-list"></i></div>
							</a>
						</div>
						<div class="center-button-cont margin-top-15">
							<a href="#" id="redirectAdmin" class="button-alternative button-shadow button-full">
								<span>Une reclamation</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="jfont fa-lg">&#xe804;</i></div>
							</a>
						</div>
						<div class="title-separator-primary"></div>

					</div>
				</div>
				<div class="col-xs-12 col-md-9 col-md-push-1">
					<div class="row msg-profile">
						<div class="col-xs-12">
							<h1>Profile<span class="special-color">.</span></h1>
							<div class="title-separator-primary"></div>
						</div>
					</div>
					<form name="agent-form" action="#">
					<div class="row margin-top-60">
						<div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-3 col-md-4">
							<div class="agent-photos">
								<img src="<%= locals.etabObj.length > 0 ? locals.etabObj[0].path_img : '/asset/content/img/default_pro_profile.jpeg' %>" id="agent-profile-photo" class="img-responsive" alt="" />
								<div class="change-photo">
									<i class="fas fa-pencil-alt"></i>
									<input type="file" name="agent-photo" id="agent-photo" />
								</div>
								<input type="text" disabled="disabled" id="agent-file-name" class="main-input" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-9 col-md-8">
							<div class="labelled-input">
								<label for="first-name">Nom*</label><input id="first-name" name="nom" type="text" class="input-full main-input" placeholder="Veuillez saisir le nom de votre etablissement" value="<%= locals.etabObj.length > 0 ? locals.etabObj[0].nom : '' %>"/>
								<div class="clearfix"></div>
							</div>
							<div class="labelled-input">
								<label for="adresse">Adresse*</label><input id="adresse" name="adresse" type="text" class="input-full main-input" placeholder="(N°/Nom de Rue) de votre etablissement" value="<%= locals.etabObj.length > 0 ? locals.etabObj[0].adresse : '' %>"/>
								<div class="clearfix"></div>
							</div>
							<div class="labelled-input">
								<label for="email">Email*</label><input id="email" name="email" type="email" class="input-full main-input" placeholder="" value="<%= locals.session.userMail %>"/>
								<div class="clearfix"></div>
							</div>
							<div class="labelled-input">
								<label for="dept">Département*</label><select id="dept" name="dept" class="bootstrap-select" title="Sélectionner un département :" >
								</select><!-- <input id="cp" name="cp" type="tel" class="input-full main-input" placeholder="" value="<%= locals.etabObj.cp %>"/> -->
								<div class="clearfix"></div>
							</div>
							<div class="labelled-input">
								<label for="cp">Code Postal*</label><select id="cp" name="cp" class="bootstrap-select" title="Sélectionner un code postal :" ></select><!-- <input id="cp" name="cp" type="tel" class="input-full main-input" placeholder="" value="<%= locals.etabObj.cp %>"/> -->
								<div class="clearfix"></div>
							</div>
							<div class="labelled-input last">
								<label for="siret">Siret*</label><input id="siret" name="siret" type="tel" class="input-full main-input" placeholder="N° d'identification de votre établissement" value="<%= locals.etabObj.length > 0 ? locals.etabObj[0].siret : "" %>"/>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<div class="row margin-top-15">
						<div class="col-xs-12">
							<div class="labelled-textarea">
								<label for="description">Description* (500)</label>
								<textarea id="description" name="descr" class="input-full main-input"><%= locals.etabObj.length > 0 ? locals.etabObj[0].descr : "" %></textarea>
							</div>
						</div>
					</div>
					<a href="#" data-action="etablissement" class="savecal button-alternative button-shadow button-full margin-top-15">
						<span>Sauvegarder</span>
						<div class="button-triangle"></div>
						<div class="button-triangle2"></div>
						<div class="button-icon"><i class="jfont fa-lg">&#xe804;</i></div>
					</a>
					</form>
						<div class="row">
							<div class="col-xs-12">
								<h3 class="title-negative-margin margin-top-30">Listing services<span class="special-color">.</span></h3>
								<div class="title-separator-primary msg-service"></div>
								<div class="dark-col margin-top-60">
									<div class="row">
											<% if (locals.etabObj.length > 0){
												for (k in locals.allServObj){
												var checked="";
												for (j in locals.servObj){
													if (locals.servObj[j].id_service == locals.allServObj[k].id_service){
														checked = "checked";
														break;
													}
												}
												if (k == 0){ %>
													<div class="col-xs-12 col-sm-4 col-md-6 col-lg-4 margin-top-15">
												<% } if (k > 0 && k % 6 == 0){ %>
													</div>
													<div class="col-xs-12 col-sm-4 col-md-6 col-lg-4 margin-top-15">
												<% } %>
												<input type="checkbox" id="<%= locals.allServObj[k].id_service %>" name="cc<%= (k + 1) %>" class="main-checkbox" <%= checked %>/>
												<label for="<%= locals.allServObj[k].id_service %>"><span></span><%= locals.allServObj[k].nom_service %></label><br/>
												<% if (k == locals.allServObj.length - 1){ %>
												</div>
												<%	}
											} %>
											<a href="#" data-action="services" class="savecal button-alternative button-shadow button-full margin-top-15">
												<span>Sauvegarder</span>
												<div class="button-triangle"></div>
												<div class="button-triangle2"></div>
												<div class="button-icon"><i class="jfont fa-lg">&#xe804;</i></div>
											</a>
											<% }else{ %>
												Veuillez remplir votre profil avant d'ajouter de nouveaux services à facturer.
											<% } %>
									</div>
								</div>
							</div>
						</div>
					<div class="row margin-top-30">
						<div class="col-xs-12 col-lg-6">
							<div class="labelled-input-short">
								<label for="facebook">
										<i class="fab fa-facebook-f icon-social facebook"></i>
									Facebook
								</label>
								<input id="facebook" name="facebook" type="text" class="input-full main-input" placeholder="" value="http://facebook.url/"/>
								<div class="clearfix"></div>
							</div>
							<div class="labelled-input-short">
								<label for="gplus">
										<i class="fab fa-google-plus-g icon-social google"></i>
									Google +
								</label>
								<input id="gplus" name="gplus" type="text" class="input-full main-input" placeholder="" value="http://gplus.url/"/>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-xs-12 col-lg-6">
							<div class="labelled-input-short">
								<label for="instragram">
										<i class="fab fa-instagram icon-social instagram"></i>
									Instragram
								</label>
								<input id="twitter" name="twitter" type="text" class="input-full main-input" placeholder="" value="http://twitter.url/"/>
								<div class="clearfix"></div>
							</div>
							<div class="labelled-input-short">
								<label for="skype">
										<i class="fab fa-linkedin-in icon-social linkedin"></i>
									linkedin
								</label>
								<input id="skype" name="skype" type="text" class="input-full main-input" placeholder="" value="Skype_name"/>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="title-separator-primary msg-tab"></div>
					<div class="margin-top-60 apartment-tabs">

						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a href="#home" aria-controls="home" role="tab" data-toggle="tab">
									<span>Mes offres commerciales</span>
									<div class="button-triangle2"></div>
								</a>
							</li>
							<li role="presentation">
								<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
									<span>Tarification</span>
									<div class="button-triangle2"></div>
								</a>
							</li>
							<!-- <li role="presentation">
								<a href="#devis" aria-controls="messages" role="tab" data-toggle="tab">
									<span>Mes devis</span>
									<div class="button-triangle2"></div>
								</a>
							</li> -->
							<li role="presentation">
								<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
									<span>Recevoir un paiement</span>
									<div class="button-triangle2"></div>
								</a>
							</li> 
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home">
								<div class="row">
									<% if (locals.offObj.length > 0 && (locals.offObj[0].id_offre_contenir > 0)){
										var i = 0;
										for (i; i < locals.offObj.length; i++){ %>
									<div class="grid-offer-col" style="width: 265px;display: inline-flex;">
										<div class="grid-offer">
											<div class="grid-offer-front">
												<div class="grid-offer-photo">
													<img src="/asset/images/grid-offer1.jpg" alt="" />
													<div class="type-container">
														<!-- <div class="estate-type">apartment</div>
														<div class="transaction-type">sale</div> -->
														<div class="etiquette-name"><%= locals.offObj[i].titre %></div>
													</div>
												</div>
												<div class="grid-offer-text">
													<i class="fas fa-map-marker grid-offer-localization"></i>
													<div class="grid-offer-h4"><h4 class="grid-offer-title"><%= locals.etabObj[0].adresse %> <%= locals.etabObj[0].cp %>, FRANCE</h4></div>
													<div class="clearfix"></div>
													<p><%= locals.offObj[i].spe_off %></p>
													<div class="clearfix"></div>
												</div>
												<div class="price-grid-cont">
													<div class="grid-price-label pull-left">Price:</div>
													<div class="grid-price pull-right">
														€ <%= locals.offObj[i].prix_off %>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="grid-offer-params">
													<div class="grid-area">
														<img src="/asset/images/area-icon.png" alt="" />54m<sup>2</sup>
													</div>
													<div class="grid-rooms">
														<img src="/asset/images/rooms-icon.png" alt="" />3
													</div>
													<div class="grid-baths">
														<img src="/asset/images/bathrooms-icon.png" alt="" />1
													</div>
												</div>

											</div>
											<div class="grid-offer-back">
												<div class="small-icon delete-off" data-id-offre="<%= locals.offObj[i].id_offre_contenir %>"><i class="jfont" style="color: #c64b4b;cursor: pointer;">&#xe80f;</i></div>
												<div id="offer-form-<%= locals.offObj[i].id_offre_contenir %>" data-profil="<%= locals.offObj[i].id_profil %>" method="post" action="#">
													<div class="title-separator-primary"></div>
													<h3 class="sidebar-title" style="margin: 14px;">Modification<span class="special-color">.</span></h3>

													<input type="text" name="title" class="main-input required,all" placeholder="titre" value="<%= locals.offObj[i].titre %>" >
													<textarea name="spe_off" class="main-input required,all" placeholder="description"><%= locals.offObj[i].spe_off %></textarea>
													<div class="adv-search-range-cont">
														<label for="slider-o-price<%= (parseInt(i)+1) %>-value" class="adv-search-label">Prix offre:</label>
														<span>€</span>
														<input type="text" id="slider-o-price<%= (parseInt(i)+1) %>-value" class="adv-search-amount">
														<div class="clearfix"></div>
														<div id="slider-o-price<%= (parseInt(i)+1) %>" data-val="<%= locals.offObj[i].prix_off %>" data-min="0" data-max="10000" class="slider" name="prix_off"></div>
													</div>
												</div>
												<div class="button">
													<a href="#" data-action="offre" data-form="offer-form-<%= locals.offObj[i].id_offre_contenir %>" class="button-primary">
														<span>sauvegarder</span>
														<div class="button-triangle"></div>
														<div class="button-triangle2"></div>
														<div class="button-icon"><i class="far fa-user-circle"></i></div>
													</a>
												</div>
											</div>
										</div>
									</div>
									<% }
										if (i < 3){ %>
										<div class="grid-offer-col" style="width: 265px;display: inline-flex;">
										<div class="grid-offer">
											<div class="grid-offer-front">
												<div class="grid-offer-photo">
													<img src="/asset/images/grid-offer1.jpg" alt="" />
													<div class="type-container">
														<!-- <div class="estate-type">apartment</div>
														<div class="transaction-type">sale</div> -->
														<div class="etiquette-name">...</div>
													</div>
												</div>
												<div class="grid-offer-text">
													<i class="fas fa-map-marker grid-offer-localization"></i>
													<div class="grid-offer-h4"><h4 class="grid-offer-title"><%= locals.etabObj[0].adresse %> <%= locals.etabObj[0].cp %>, FRANCE</h4></div>
													<div class="clearfix"></div>
													<p>...</p>
													<div class="clearfix"></div>
												</div>
												<div class="price-grid-cont">
													<div class="grid-price-label pull-left">Price:</div>
													<div class="grid-price pull-right">
														€ ...
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="grid-offer-params">
													<div class="grid-area">
														<img src="/asset/images/area-icon.png" alt="" />54m<sup>2</sup>
													</div>
													<div class="grid-rooms">
														<img src="/asset/images/rooms-icon.png" alt="" />3
													</div>
													<div class="grid-baths">
														<img src="/asset/images/bathrooms-icon.png" alt="" />1
													</div>
												</div>

											</div>
											<div class="grid-offer-back">
												<div id="offer-form-0" method="post" action="#" data-profil="<%= locals.offObj[0].id_profil %>">
													<div class="title-separator-primary"></div>
													<h3 class="sidebar-title" style="margin: 14px;">Ajout<span class="special-color">.</span></h3>

													<input type="text" name="title" class="main-input required,all" placeholder="titre">
													<textarea name="spe_off" class="main-input required,all" placeholder="description"></textarea>
													<div class="adv-search-range-cont">
														<label for="slider-o-price0-value" class="adv-search-label">Prix offre:</label>
														<span>€</span>
														<input type="text" id="slider-o-price0-value" class="adv-search-amount">
														<div class="clearfix"></div>
														<div id="slider-o-price0" data-val="0" data-min="0" data-max="10000" class="slider" name="prix_off"></div>
													</div>
												</div>
												<div class="button">
													<a href="#" class="button-primary" data-action="offre" data-form="offer-form-0">
														<span>ajouter</span>
														<div class="button-triangle"></div>
														<div class="button-triangle2"></div>
														<div class="button-icon"><i class="far fa-user-circle"></i></div>
													</a>
												</div>
											</div>
										</div>
									</div>
									<% }
									} else { if (locals.etabObj.length > 0) { %>
										<div class="grid-offer-col" style="width: 265px;display: inline-flex;">
										<div class="grid-offer">
											<div class="grid-offer-front">
												<div class="grid-offer-photo">
													<img src="/asset/images/grid-offer1.jpg" alt="" />
													<div class="type-container">
														<div class="etiquette-name">...</div>
													</div>
												</div>
												<div class="grid-offer-text">
													<i class="fas fa-map-marker grid-offer-localization"></i>
													<div class="grid-offer-h4"><h4 class="grid-offer-title"><%= locals.etabObj[0].adresse  %> <%= locals.etabObj[0].cp %>, FRANCE</h4></div>
													<div class="clearfix"></div>
													<p>...</p>
													<div class="clearfix"></div>
												</div>
												<div class="price-grid-cont">
													<div class="grid-price-label pull-left">Price:</div>
													<div class="grid-price pull-right">
														€ ...
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="grid-offer-params">
													<div class="grid-area">
														<img src="/asset/images/area-icon.png" alt="" />54m<sup>2</sup>
													</div>
													<div class="grid-rooms">
														<img src="/asset/images/rooms-icon.png" alt="" />3
													</div>
													<div class="grid-baths">
														<img src="/asset/images/bathrooms-icon.png" alt="" />1
													</div>
												</div>

											</div>
											<div class="grid-offer-back">
												<div id="offer-form-0" method="post" action="#" data-profil="<%= locals.offObj[0].id_profil %>">
													<div class="title-separator-primary"></div>
													<h3 class="sidebar-title" style="margin: 14px;">Ajout<span class="special-color">.</span></h3>

													<input type="text" name="title" class="main-input required,all" placeholder="titre">
													<textarea name="spe_off" class="main-input required,all" placeholder="description"></textarea>
													<div class="adv-search-range-cont">
														<label for="slider-o-price0-value" class="adv-search-label">Prix offre:</label>
														<span>€</span>
														<input type="text" id="slider-o-price0-value" class="adv-search-amount">
														<div class="clearfix"></div>
														<div id="slider-o-price0" data-val="0" data-min="0" data-max="10000" class="slider" name="prix_off"></div>
													</div>
												</div>
												<div class="button">
													<a href="#" data-action="offre" class="button-primary" data-form="offer-form-0">
														<span>ajouter</span>
														<div class="button-triangle"></div>
														<div class="button-triangle2"></div>
														<div class="button-icon"><i class="far fa-user-circle"></i></div>
													</a>
												</div>
											</div>
										</div>
									</div>
									<% } else { %>
										<div class="grid-offer-col" style="width: 265px;display: inline-flex;">
											Veuillez remplir votre profil afin de rajouter des offres.
										</div>
									<% }
									}%>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="profile">
									<% if (locals.etabObj.length > 0) { %>
										<div id="tarif-form-<%= locals.offObj[0].id_profil %>" action="#" method="Post" data-profil="<%= locals.etabObj[0].id_profil %>" >
												<div id="form-result"></div>
												<div class="adv-search-range-cont">
													<label for="slider-t-price-min-value" class="adv-search-label">Prix minimum:</label>
													<span>€</span>
													<input type="text" id="slider-t-price-min-value" readonly class="adv-search-amount">
													<div class="clearfix"></div>
													<div id="slider-t-price-min" data-val="<%= (locals.etabObj[0].prix_h * locals.etabObj[0].nbr_h_min) %>" data-min="0" data-max="240000" class="slider"></div>
												</div>
												<div class="adv-search-range-cont">
													<label for="slider-t-price-h-value" class="adv-search-label">Prix horaire:</label>
													<span>€/h</span>
													<input type="text" id="slider-t-price-h-value" class="adv-search-amount" />
													<div class="clearfix"></div>
													<div id="slider-t-price-h" data-val="<%= locals.etabObj[0].prix_h %>" data-min="0" data-max="10000" class="slider"></div>
												</div>
												<div class="adv-search-range-cont">
													<label for="slider-t-h-min-value" class="adv-search-label">Nombre d'heures minimum de prestation :</label>
													<span>h</span>
													<input type="text" id="slider-t-h-min-value"  class="adv-search-amount" />
													<div class="clearfix"></div>
													<div id="slider-t-h-min" data-val="<%= locals.etabObj[0].nbr_h_min %>" data-min="0" data-max="24" class="slider"></div>
												</div>
												<div class="form-submit-cont">
													<a href="#" data-action="tarif" class="button-primary button-full" id="form-submit" data-form="tarif-form-<%= locals.offObj[0].id_profil %>">
														<span>Modifier</span>
														<div class="button-triangle"></div>
														<div class="button-triangle2"></div>
														<div class="button-icon"><i class="fa fa-paper-plane"></i></div>
													</a>
												<div class="clearfix"></div>
											</div>
										</div>
									<% } else { %>
										<div id="tarif-form-0">
											Veuillez remplir votre profil afin d'éditer la tarification de votre service principal.
										</div>
									<% } %>
<!-- 								</div> -->
							</div>
							<div role="tabpanel" class="tab-pane" id="devis" style="display:none;">
								<% if (locals.etabObj.length > 0) { %>
								<div id="page-wrap">

									<div style="clear:both"></div>

									<table id="models">
										<tr>
									      <th>Nom</th>
									      <th>Tva</th>
									      <th>Prix HT</th>
									      <th>Prix TTC</th>
									    </tr>
									    <% if (locals.devisObj !== undefined){
									    	for (k in locals.devisObj){ %>
									    		<tr class="item-row" data-devis="<%= locals.devisObj[k].id_devis %>" data-devis-nom="<%= locals.devisObj[k].name %>">
											      <td class="item-name"><div class="delete-wpr"><textarea class="name" ><%= locals.devisObj[k].name %></textarea><a class="delete_devis" href="javascript:;" title="Delete row">X</a><a class="edit_devis" href="javascript:;" title="Edit row">+</a></div></td>
											      <td class="description">
											      	<span>%</span>
											      	<input type="text" id="slider-d-tva<%= (parseInt(k)+1) %>-value" class="adv-search-amount" />
													<div class="clearfix"></div>
													<div id="slider-d-tva<%= (parseInt(k)+1) %>" data-val="<%= (locals.devisObj[k].tva * 100) %>" data-min="2" data-max="20" class="slider tva"></div>
												</td>
											      <td><textarea class="ht" readonly><%= locals.devisObj[k].total_ht %>€</textarea></td>
											      <td><textarea class="ttc" readonly><%= locals.devisObj[k].price_ttc %>€</textarea></td>
											  </tr>
									    	<% } %>
									    	<tr id="hiderow">
											    <td colspan="4"><a id="addrow_devis" href="javascript:;" title="Add a row">Ajouter un nouveau modèle</a></td>
											 </tr>
									    <% }else{ %>
									    	<tr id="hiderow">
											    <td colspan="4"><a id="addrow_devis" href="javascript:;" title="Add a row">Ajouter un nouveau modèle</a></td>
											 </tr>
									    <% } %>
									</table>

									<table id="items" style="display:none;">

									<tr>
									      <th colspan='5'><a class="edit_models" href="javascript:;" title="Edit row">-</a>Modèle '<span class="items_title"></span>'</th>
									  </tr>
									  <tr>
									      <th>Service</th>
									      <th>Description</th>
									      <th>Prix unitaire</th>
									      <th>Quantité</th>
									      <th>Prix</th>
									  </tr>
									</table>
									<a href="#" data-action="devis" class="savecal button-primary button-shadow button-full margin-top-15">
										<span>Mettre à jour</span>
										<div class="button-triangle"></div>
										<div class="button-triangle2"></div>
										<div class="button-icon"><i class="fa fa-paper-plane"></i></div>
									</a>
								</div>
								<% } else { %>
									<div id="page-wrap">
										Veuillez remplir votre profil afin d'éditer de nouveaux modèles de devis.
									</div>
								<% } %>
							</div>
							<div role="tabpanel" class="tab-pane" id="settings">
								<% if (locals.etabObj.length > 0) { %>
									<div id="get-payment-form" action="#" method="Post" data-profil="<%= locals.etabObj[0].id_profil %>" >
										<div id="form-result"></div>
										<div class="adv-search-range-cont">
											<label for="code-payment" class="adv-search-label">Code :</label>
											<input type="text" id="code-payment" class="adv-search-amount">
											<div class="clearfix"></div>
										</div>
										<div class="form-submit-cont">
											<a href="#" data-action="get-payment" class="button-primary button-full" data-form="get-payment-form">
												<span>Vérifier</span>
												<div class="button-triangle"></div>
												<div class="button-triangle2"></div>
												<div class="button-icon"><i class="fa fa-paper-plane"></i></div>
											</a>
										<div class="clearfix"></div>
									</div>						
								<% } else { %>
									<div id="page-wrap">
										Veuillez remplir votre profil afin de pouvoir récupérer des paiements.
									</div>
								<% } %>
							</div>
						</div>

					</div>
				</div>
				</div>
					</div>
					</form>
					<div class="row margin-top-60"></div>
				</div>
			</div>
		</div>
	</section>
		<!-- DEVIS -->
  <!-- <script type="text/javascript" src="/asset/js/devis.js"></script> -->
    <script type="module" src="/asset/js/info-pro.js"></script>
    <script type="text/javascript">
	var servs = [];
	<% for (k in locals.servObj){ %>
		var serv={};
		serv.id_service = "<%- locals.servObj[k].id_service %>";
		serv.nom_service = "<%- locals.servObj[k].nom_service %>";
		servs.push(serv);
	<% } %>
	sessionStorage.setItem("services", JSON.stringify(servs));
    </script>
<% include footer %>
