<% include header %>
<div class="container">
  <div class="row">
        <div class="col-lg-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-plane"></h4><br/>Etablissement
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-road"></h4><br/>Tarification
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-home"></h4><br/>Création d'offre
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-cutlery"></h4><br/>Restaurant
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-credit-card"></h4><br/>Credit Card
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-credit-card"></h4><br/>Autre
                </a>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- societe section -->
<div class="bhoechie-tab-content active">
<center>

    <h1>Editez votre établisement</h1>
    <hr>
  <div class="row">

      <div class="col-md-3">
        <form action="http://localhost:4000/upload_image" method="POST" class="upload-profile" enctype="multipart/form-data">
          <div class="avatar">
            <div class="text-center">
              <% if (locals.etabObj !== undefined) { %>
                <img src="<%= locals.etabObj[0].path_img %>" class="avatar img-circle" alt="avatar" width="100" height="100">
              <% } else { %>
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar" width="100" height="100">
              <% } %>
              <h6>Photo de l'établissement</h6>
              <!-- <input name="title" type="text" class="form-control" value="" readonly /> -->
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
          </div>
        </form>
      </div>
      

      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <form action="/info-pro" method="POST" class="" role="form">
      <div class="col-md-12">
        <div class="form-group col-lg-12">
          <label>Nom</label>
          <input type="text" name="nom" class="form-control"  value="" required>
        </div>
        
        <div class="form-group col-lg-6">
          <label>Adresse</label>
          <input type="text" name="adresse" class="form-control"  value="" required>
        </div>
        
        <div class="form-group col-lg-6">
          <label>Code postale</label>
          <input type="text" name="cp" class="form-control"  value="" required>
        </div>
                
        <div class="form-group col-lg-6">
          <label>Description</label>
          <input type="text" name="descr" class="form-control"  value="" required>
        </div>
        
        <div class="form-group col-lg-6">
          <label>Numéro de SIRET</label>
          <input type="text" name="siret" class="form-control"  value="" required>
        </div>

        <div class="col-sm-6">
          <input type="checkbox" class="checkbox" />Sigh up for our newsletter
        </div>

        <div class="col-sm-6">
          <input type="checkbox" class="checkbox" />Send notifications to this email
        </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>  
      </div>
        </form>
      </div>
  </div>
</center>
</div>
                <!-- tarification section -->
                <div class="bhoechie-tab-content">
                    <center>
    <h1>Ma tarification</h1>
    <hr>
  <div class="row">

      

      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is a <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <form action="/tarification" method="POST" class="" role="form">
      <div class="col-md-12">
        
        <div class="form-group col-lg-6">
          <label>Prix minimum proposé</label>
          <input type="tel" name="prix_min" class="form-control"  value="" required>
        </div>
        
        <div class="form-group col-lg-6">
          <label>Prix à l'heure</label>
          <input type="tel" name="prix_h" class="form-control"  value="" required>
        </div>
                
        <div class="form-group col-lg-6">
          <label>nombre d'heure minimum</label>
          <input type="tel" name="nbr_h_min" class="form-control"  value="" required>
        </div> 
          <div class="form-group">
            <div class="col-lg-6">
              <input type="submit" class="btn btn-primary" value="Save Changes" style="margin-top:18px;">
              <span></span>
            </div>
          </div>  
      </div>
        </form>
      </div>
  </div>
                    </center>
                </div>
                <!-- hotel search -->
                <div class="bhoechie-tab-content">
                    <center>
    <h1>Création d'offre</h1>
    <hr>
  <div class="row" id="formOff" style="display: none;">

      

      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <form action="/create_off" method="POST" class="" role="form">
      <div class="col-md-12">
        <div class="form-group col-lg-12">
          <label>Titre de l'offre</label>
          <input type="text" name="title" class="form-control"  value="">
        </div>
        
        <div class="form-group col-lg-12">
          <label>Caracteristique de l'offre</label>
          <textarea name="spe_off" class="form-control"></textarea>
        </div>
        
        <div class="form-group col-lg-6">
          <label>Prix de l'offre</label>
          <input type="text" name="prix_off" class="form-control"  value="">
        </div>

        <div class="form-group col-lg-6">
          <input type="button" class="btn btn-primary" value="Sauvegarder">
        </div>
          <input type="text" name="idO" id="idO" class="form-control"  value="0">
          <input type="text" name="idP" id="idP" class="form-control"  value="0"> 
      </div>
        </form>
      </div> 
  </div>
        <% if (locals.offObj.length > 0 && (locals.offObj[0].id_offre_contenir < 1 || locals.offObj[0].id_offre_contenir == null)) { %>
              <button type="button" class="btn btn-primary" onclick="createOff(<%= locals.offObj[0].id_profil %>)">creer une offre</button>
        <% } else {
                if (locals.offObj.length != 0 && locals.offObj.length < 3) {%>
                  <button type="button" class="btn btn-primary" onclick="createOff(<%= locals.offObj[0].id_profil %>)">creer une offre</button>
                <% }
                if (locals.offObj.length != 0 && locals.offObj.length < 4) {%> 
                <% for(k in locals.offObj){%>
                  <div style="border: 1px solid black;">
                    <button type="button" class="btn btn-primary" onclick="editOff(<%= locals.offObj[k].id_offre_contenir %>, <%= locals.offObj[k].id_profil %>)">Edit</button>
                    <p>id offre : <%= locals.offObj[k].id_offre_contenir %></p>
                    <p>id user : <%= locals.offObj[k].id_user %></p>
                    <p>titre : <%= locals.offObj[k].titre %></p>
                    <p>spécificitées offre :<%= locals.offObj[k].spe_off %></p>
                    <p>prix : <%= locals.offObj[k].prix_off %></p>
                  </div>
                <%}%>
            <% }%>
          <% }%>
<script type="text/javascript">
  function editOff(idO, idP){
    $("#idO").val(idO);
    $("#formOff").show();
    $("#idP").val(idP);
  }
  function createOff(idP){
    $("#formOff").show();
    $("#idO").val(0);
    $("#idP").val(idP);
  }
</script>
                    </center>
                </div>
                <div class="bhoechie-tab-content">
                <div class="row">
                <div class="containr">
                  <div class="col1">
                    <div class="card">
                      <div class="front">
                        <div class="type">
                          <img class="bankid"/>
                        </div>
                        <span class="chip"></span>
                        <span class="card_number">&#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; </span>
                        <div class="date"><span class="date_value">MM / YYYY</span></div>
                        <span class="fullname">FULL NAME</span>
                      </div>
                      <div class="back">
                        <div class="magnetic"></div>
                        <div class="bar"></div>
                        <span class="seccode">&#x25CF;&#x25CF;&#x25CF;</span>
                        <span class="chip"></span><span class="disclaimer">This card is property of Random Bank of Random corporation. <br> If found please return to Random Bank of Random corporation - 21968 Paris, Verdi Street, 34 </span>
                      </div>
                    </div>
                  </div>
                  <div class="col2">
                    <label>Card Number</label>
                    <input class="number" type="text" ng-model="ncard" maxlength="19" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                    <label>Cardholder name</label>
                    <input class="inputname" type="text" placeholder=""/>
                    <label>Expiry date</label>
                    <input class="expire" type="text" placeholder="MM / YYYY"/>
                    <label>Security Number</label>
                    <input class="ccv" type="text" placeholder="CVC" maxlength="3" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
                    <button class="buy"><i class="fas fa-lock"></i>Sauvegarder la carte</button>
                  </div>
                </div>
                </div>
                </div>  
                <div class="bhoechie-tab-content">
                    <center>
    <h1>Création de devis</h1>
    <hr>
  <div class="row" id="formPresta" style="display:none;">
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <form action="/devis" method="POST" class="" role="form">
          <div class="form-group col-lg-12">
          <label>Sélectionnez un nom pour le devis </label>
          <input type="text" name="name" class="form-control" />
        </div>
      <div class="col-md-12">
        <div class="form-group col-lg-12">
          <label>Sélectionner un service à facturer</label>
          <select type="" name="service" class="form-control"  >
            <% if (locals.servObj == undefined || locals.servObj.length == 0) { %>
              <option value="default">Aucun service. (Veuillez administer vos services)</option>
              <% } else { 
                for(k in locals.servObj) {%>
                  <option value="<%= locals.servObj[k].id_service %>"><%= locals.servObj[k].nom_service %></option>
              <%} 
            } %>
          </select>
        </div>
        
        <div class="form-group col-lg-6">
          <label>Sélectionnez une quantité</label>
          <input type="number" name="qte" class="form-control"  value="0">
        </div>
        
        <div class="form-group col-lg-6">
          <label>Sélectionnez le prix unitaire de la prestation</label>
          <input type="text" name="price_u" class="form-control"  value="0">
        </div>
        
        <div class="form-group col-lg-6">
          <label>Insérez une description</label>
          <textarea type="text" name="descr" class="form-control" ></textarea>
        </div> 

         <div class="form-group col-lg-6">
          <label>Insérez une tva</label>
          <input type="text" name="tva" class="form-control" />
        </div>      
        
        <div class="col-sm-6">
          <input type="checkbox" class="checkbox" />Sigh up for our newsletter
        </div>

        <div class="col-sm-6">
          <input type="checkbox" class="checkbox" />Send notifications to this email
        </div> 
        <input type="text" id="idPresta" name="idP" value="0">
        <input type="text" id="idDevis" name="idD" value="0">
          <div class="form-group">
            <div class="col-md-12">
              <input type="button" class="btn btn-primary" value="Sauvegarder les changements">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>  
      </div>
        </form>
      </div>
  </div>
  <% if (locals.devisObj == undefined || locals.devisObj.length == 0) { %>
        <button type="button" class="btn btn-primary" onclick="createDevis()">creer un modèle de devis</button>
        <% } else { %>
          <button type="button" class="btn btn-primary" onclick="createDevis()">creer un autre modèle de devis</button>
          <% for (k in locals.devisObj) {%>
            <div style="border: 1px solid black;">
                <p>id devis : <%= locals.devisObj[k].id_devis %></p>
                <p>nom : <%= locals.devisObj[k].name %></p>
                <p>tva : <%= locals.devisObj[k].tva %></p>
                <p>total ht : <%= locals.devisObj[k].total_ht %></p>
                <p>total tt : <%= locals.devisObj[k].price_ttc %></p>
                <button type="button" class="btn btn-primary" onclick="createPresta(<%= locals.devisObj[k].id_devis %>)">ajouter une prestation</button>
                <% if (locals.devisObj[k].prestations !== undefined && locals.devisObj[k].prestations.length > 0){ 
                    for (j in locals.devisObj[k].prestations) {%>
                      <div style="border: 1px solid black;">
                        <button type="button" class="btn btn-primary" onclick="editPresta(<%= locals.devisObj[k].prestations[j].id_presta %>, <%= locals.devisObj[k].id_devis %>)">Edit</button>
                        <p>id prestation : <%= locals.devisObj[k].prestations[j].id_presta %></p>
                        <p>description : <%= locals.devisObj[k].prestations[j].descr %></p>
                        <p>quantite : <%= locals.devisObj[k].prestations[j].quantity %></p>
                        <p>prix unitaire :<%= locals.devisObj[k].prestations[j].price_u %></p>
                        <p>id service : <%= locals.devisObj[k].prestations[j].id_serv %></p>
                      </div>
                  <% } %>
                <% } %>    
            </div>
            <br>
          <% } %>
        <% } %>
    </center>
</div>
<script>
function createDevis(){
  $("#formPresta").show();
  $("#idPresta").val(0);
  $("#idDevis").val(0);
}
function createPresta(idD){
  $("#formPresta").show();
  $("#idDevis").val(idD);
  $("#idPresta").val(0);
}
function editPresta(idP, idD){
  $("#formPresta").show();
  $("#idPresta").val(idP);
  $("#idDevis").val(idD);
}
</script>

                <div class="bhoechie-tab-content">
                    <center>
    <h1>Administration des services proposés</h1>
    <hr>
  <div class="row" id="formService" style="display:none;">
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
      <form action="/service" method="POST" class="" role="form">
      <div class="col-md-12">
        <div class="form-group col-lg-12">
          <label>Services existants</label>
          <select name="services" class="form-control"  multiple>
            <option value="default">Veuillez sélectionner un/plusieurs service(s) :</option>
            <% if (locals.allServObj !== undefined && locals.allServObj.length > 0) { 
              for (k in locals.allServObj) { %>
                <option value="<%= locals.allServObj[k].id_service %>"><%= locals.allServObj[k].nom_service %></option>
            <% }
            } else { %>
                <option value="0">Aucun service !</option>
            <% } %>
          </select>
        </div>
        <div class="col-sm-6">
          <input type="checkbox" class="checkbox" />Sigh up for our newsletter
        </div>   
        <div class="col-sm-6">
          <input type="checkbox" class="checkbox" />Send notifications to this email
        </div> 
          <div class="form-group">
            <div class="col-md-12">
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>  
      </div>
        </form>
      </div> 
  </div>
  <% if (locals.servObj == undefined || locals.servObj.length == 0) { %>
        <button type="button" class="btn btn-primary" onclick="editService()">Ajouter des services</button>
  <% } else { %>
    <div style="border: 1px solid black;">
      <button type="button" class="btn btn-primary" onclick="editService()">Editer</button>
      <%for (k in locals.servObj) { %>
          <div style="border: 1px solid black;">
            <p>id service : <%= locals.servObj[k].id_service %></p>
            <p>nom service : <%= locals.servObj[k].nom_service %></p>
          </div>
      <% } %>
    </div>
  <% } %>
<script>
function editService(){
  $("#formService").show();
}
</script>  

                    </center>
                </div>
            </div>
        </div>
  </div>
</div>
<!-- <div class="container">
    <h1>Edit Profile</h1>
    <hr>
  <div class="row">

      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      

      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Jane">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Bishop">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Company:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="janesemail@gmail.com">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Time Zone:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                  <option value="Alaska">(GMT-09:00) Alaska</option>
                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                  <option value="Arizona">(GMT-07:00) Arizona</option>
                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="janeuser">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr> -->
<script type="text/javascript">


$(function(){
  
  var cards = [{
    nome: "mastercard",
    colore: "#0061A8",
    src: "https://upload.wikimedia.org/wikipedia/commons/0/04/Mastercard-logo.png"
  }, {
    nome: "visa",
    colore: "#E2CB38",
    src: "https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/2000px-Visa_Inc._logo.svg.png"
  }, {
    nome: "dinersclub",
    colore: "#888",
    src: "http://www.worldsultimatetravels.com/wp-content/uploads/2016/07/Diners-Club-Logo-1920x512.png"
  }, {
    nome: "americanExpress",
    colore: "#108168",
    src: "https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/American_Express_logo.svg/600px-American_Express_logo.svg.png"
  }, {
    nome: "discover",
    colore: "#86B8CF",
    src: "https://lendedu.com/wp-content/uploads/2016/03/discover-it-for-students-credit-card.jpg"
  }, {
    nome: "dankort",
    colore: "#0061A8",
    src: "https://upload.wikimedia.org/wikipedia/commons/5/51/Dankort_logo.png"
  }];
  
  var month = 0;
  var html = document.getElementsByTagName('html')[0];
  var number = "";
  
  var selected_card = -1;
  
  $(document).click(function(e){
    if(!$(e.target).is(".ccv") || !$(e.target).closest(".ccv").length){
      $(".card").css("transform", "rotatey(0deg)");
      $(".seccode").css("color", "var(--text-color)");
    }
    if(!$(e.target).is(".expire") || !$(e.target).closest(".expire").length){
      $(".date_value").css("color", "var(--text-color)");
    }
    if(!$(e.target).is(".number") || !$(e.target).closest(".number").length){
      $(".card_number").css("color", "var(--text-color)");
    }
    if(!$(e.target).is(".inputname") || !$(e.target).closest(".inputname").length){
      $(".fullname").css("color", "var(--text-color)");
    }
  });
  
  
  //Card number input
  $(".number").keyup(function(event){
    $(".card_number").text($(this).val());
    number = $(this).val();
    
    if(parseInt(number.substring(0, 2)) > 50 && parseInt(number.substring(0, 2)) < 56){
      selected_card = 0;
    }else if(parseInt(number.substring(0, 1)) == 4){
      selected_card = 1;  
    }else if(parseInt(number.substring(0, 2)) == 36 || parseInt(number.substring(0, 2)) == 38 || parseInt(number.substring(0, 2)) == 39){
      selected_card = 2;     
    }else if(parseInt(number.substring(0, 2)) == 34 || parseInt(number.substring(0, 2)) == 37){
      selected_card = 3; 
    }else if(parseInt(number.substring(0, 2)) == 65){
      selected_card = 4; 
    }else if(parseInt(number.substring(0, 4)) == 5019){
      selected_card = 5; 
    }else{
      selected_card = -1; 
    }
    
    if(selected_card != -1){
      html.setAttribute("style", "--card-color: " + cards[selected_card].colore);  
      $(".bankid").attr("src", cards[selected_card].src).show();
    }else{
      html.setAttribute("style", "--card-color: #cecece");
      $(".bankid").attr("src", "").hide();
    }
    
    if($(".card_number").text().length === 0){
      $(".card_number").html("&#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF;");
    }

  }).focus(function(){
    $(".card_number").css("color", "white");
  }).on("keydown input", function(){
    
    $(".card_number").text($(this).val());
    
    if(event.key >= 0 && event.key <= 9){
      if($(this).val().length === 4 || $(this).val().length === 9 || $(this).val().length === 14){
        $(this).val($(this).val() +  " ");
      }
    }
  })
  
  //Name Input
  $(".inputname").keyup(function(){  
    $(".fullname").text($(this).val());  
    if($(".inputname").val().length === 0){
        $(".fullname").text("FULL NAME");
    }
    return event.charCode;
  }).focus(function(){
    $(".fullname").css("color", "white");
  });
  
  //Security code Input
  $(".ccv").focus(function(){
    $(".card").css("transform", "rotatey(180deg)");
    $(".seccode").css("color", "white");
  }).keyup(function(){
    $(".seccode").text($(this).val());
    if($(this).val().length === 0){
      $(".seccode").html("&#x25CF;&#x25CF;&#x25CF;");
    }
  }).focusout(function() {
      $(".card").css("transform", "rotatey(0deg)");
      $(".seccode").css("color", "var(--text-color)");
  });
    
  
  //Date expire input
  $(".expire").keypress(function(event){
    if(event.charCode >= 48 && event.charCode <= 57){
      if($(this).val().length === 1){
          $(this).val($(this).val() + event.key + " / ");
      }else if($(this).val().length === 0){
        if(event.key == 1 || event.key == 0){
          month = event.key;
          return event.charCode;
        }else{
          $(this).val(0 + event.key + " / ");
        }
      }else if($(this).val().length > 2 && $(this).val().length < 9){
        return event.charCode;
      }
    }
    return false;
  }).keyup(function(event){
    $(".date_value").html($(this).val());
    if(event.keyCode == 8 && $(".expire").val().length == 4){
      $(this).val(month);
    }
    
    if($(this).val().length === 0){
      $(".date_value").text("MM / YYYY");
    }
  }).keydown(function(){
    $(".date_value").html($(this).val());
  }).focus(function(){
    $(".date_value").css("color", "white");
  });
});
</script>
<script type="text/javascript">
/*Input File uploader actions in profile*/
$(function(){
    $("div.avatar").before(
        function(){
            if (!$(this).prev().hasClass("input-file-ghost")){
                var element = $("<input type='file' class='input-file-ghost' style='height:0;' />");
                element.attr("name", "uploaded_file");
                element.change(function(e){
                    element.next(element).find('input[type="text"]').val(element.val().split("\\").pop());
                    //console.log(element.val());                
                });
                $(this).find("div.text-center").click(function(e){
                    element.click();
                });
                $(this).find('.text-center').css("cursor","pointer");
                $(this).find('input[type="text"]').mousedown(function() {
                    $(this).parents('.avatar').prev().click();
                    return false;
                });
                return element;
            }
    });
    $("input[type='button']").click(function(e){
        e.preventDefault();
        $(this).parents("form").submit();
    });
    $("form.upload-profile").submit(function(e){
        e.preventDefault();
        var formData = new FormData(e.target);
        var that = $(this);
        //console.log(formData);
        $.ajax({
            type : that.attr('method'),
            url : that.attr('action'),
            processData: false,
            contentType: false,
            data: formData,
            success: function(data) {
                //console.log(data);
                /*$("form span input").removeAttr("data-original-title");
                $("form span").removeClass("has-error");
                if (!data.success){
                    for (var prop in data.errors)
                    {
                        var title= '';
                        var input_in_error = that.find("input[name='"+prop+"'], select[name='"+prop+"']");
                        that.find("span."+prop).addClass("has-error");
                        input_in_error.attr("data-toggle", "tooltip");
                        input_in_error.attr("data-placement", "top");
                        for (var prop2 in data.errors[prop])
                        {
                            title+="- "+data.errors[prop][prop2]+"<br>";
                        }
                        input_in_error.attr("data-original-title", title);
                    }
                    $('[data-toggle="tooltip"]').tooltip({html: true});
                }
                else
                {
                    var msg = '';
                    msg += "<i class='fa-check fa'></i>";
                    for (var prop in data.msg)
                    {
                        msg += data.msg[prop]+"<br>";
                    }
                    msg += "<a href='/'>Accueil</a>";
                    that.prev("span.message").html(msg);
                    that.css("display", "none");
                    that.prev("span.message").css("display", "block");
                }*/
            }
        });
    });
});
</script>
<% include footer %>