<!DOCTYPE html>
<html lang="fr">

<!-- Mirrored from apartment-html.chart.civ.pl/listing-grid-no-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Aug 2018 17:50:44 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<title>Panier - ON-AIR</title>
	<meta name="keywords" content="Download, Apartment, Premium, Real Estate, HMTL, Site Template, property, mortgage, CSS" />
	<meta name="description" content="Download Apartment - Premium Real Estate HMTL Site Template" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/asset/bootstrap/bootstrap.min.css">    
	<!-- Font awesome styles -->    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> 
	<!-- Custom styles -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,500italic,700,700italic&amp;subset=latin,latin-ext'>
	<link rel="stylesheet" type="text/css" href="/asset/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="/asset/css/apartment-layout.css">
    <link id="skin" rel="stylesheet" type="text/css" href="/asset/css/navy.css">
	<link rel="stylesheet" type="text/css" href="/asset/css/style.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<!-- <div class="loader-bg"></div> -->
<div id="wrapper">
	<h1>Récapitulatif de paiement - Panier</h1>
	<div class="container-fluid">
		<% if (locals.obj !== undefined ){ %>
			<p><%= locals.obj.type_service %></p>
			<p>Dates :</p>
			<% for (k in locals.obj.events){ %>
				<p>de <%= locals.obj.events[k].start %> à <%= locals.obj.events[k].end %></p>
			<% } %>
			<p>Prix :</p>
			<p>horaire - <%= locals.obj.prix_h %> €</p>
			<p>à partir de - <%= locals.obj.prix_min %> €</p>
			<p>nombre d'heures minimum - <%= locals.obj.nbr_h_min %> h</p>
		<% }else{ %>
			Aucune prestation ! 
		<% } %>
	</div>
</div>
<!-- jQuery  -->
    <script type="text/javascript" src="/asset/js/jQuery/jquery.min.js"></script>
	<script type="text/javascript" src="/asset/js/jQuery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/asset/js/jQuery/jquery.easyPaginate.js"></script>
	
<!-- Bootstrap-->
    <script type="text/javascript" src="/asset/bootstrap/bootstrap.min.js"></script>

<!-- Google Maps -->
	<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDfDCV5hXiPamCIT8_vwGXuzimLQ9MF76g&amp;sensor=false&amp;libraries=places"></script> -->
	
<!-- plugins script -->
	<script type="text/javascript" src="/asset/js/plugins.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<!-- <script src="/asset/js/bootstrap-select.js"></script> -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-fr_FR.min.js"></script>
<!-- template scripts -->
	<!--<script type="text/javascript" src="/asset/mail/validate.js"></script>
	<script type="text/javascript" src="/asset/js/isotop-v3.0.6.js"></script>
     <script type="text/javascript" src="/asset/js/apartment.js"></script> -->
    <script>
		var user = {};
		var session = {};
		user.id = "<%- locals.session.userId != undefined ? 
			locals.session.userId : "null" %>";
		user.nom = "<%- locals.session.userName ? 
			locals.session.userName : "null" %>";
		user.type = "<%- locals.session.userType ? 
			locals.session.userType : "null" %>";
		session.user = user;
		sessionStorage.setItem("session", JSON.stringify(session));
	</script>
	<script type="module" src="/asset/js/login.js"></script>
	<script type="text/javascript" src="/asset/js/forgottenPassword.js"></script>
	<script type="text/javascript" src="/asset/js/register.js"></script>
    <script type="module" src="/asset/js/logout.js"></script>
    </body>

<!-- Mirrored from apartment-html.chart.civ.pl/listing-grid-no-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Aug 2018 17:50:44 GMT -->
</html>