*-*<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-offer-col">
	<div class="grid-offer">
		<div class="grid-offer-front">
		
			<div class="grid-offer-photo">
				<img src="<%= locals.listEtab[k].img %>" width="262" height="178" alt="" />
				<div class="type-container">
					<% if (locals.listEtab[k].type_service == "video") {%>
						<div class="estate-type">vidéo</div>
					<% } else { %>
						 <div class="transaction-type">audio</div>
					<% } %>
					<div class="etiquette-name"><%= locals.listEtab[k].nom %></div>
				</div>
			</div>
			<div class="grid-offer-text">
				<i class="fa fa-map-marker grid-offer-localization"></i>
				<div class="grid-offer-h4"><h4 class="grid-offer-title"><%= locals.listEtab[k].adresse %>, <%= locals.listEtab[k].cp %></h4></div>
				<div class="clearfix"></div>
				<p><%= locals.listEtab[k].desc %></p>
				<div class="clearfix"></div>
			</div>
			<div class="price-grid-cont">
				<div class="grid-price-label pull-left">Price:</div>
				<div class="grid-price pull-right">
					€ <span class="tri-prix"><%= locals.listEtab[k].prix_h %></span> /h
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="grid-offer-params">
				<div class="grid-area">
					<img src="/asset/images/area-icon.png" alt="" /><span class="distance"><%= locals.listEtab[k].distance.toFixed(2) %></span>km
				</div>
				<!-- <div class="grid-rooms">
					<img src="/asset/images/rooms-icon.png" alt="" />3
				</div>
				<div class="grid-baths">
					<img src="/asset/images/bathrooms-icon.png" alt="" />1
				</div> -->							
			</div>	
			
		</div>
		<div class="grid-offer-back">
			<div id="grid-map1" class="grid-offer-map"></div>
			<div class="button">	
				<a href="#" class="button-primary" data-temp="<%= locals.listEtab[k].id_user %>">
					<span>Voir profil</span>
					<div class="button-triangle"></div>
					<div class="button-triangle2"></div>
					<div class="button-icon"><i class="far fa-user-circle"></i></div>
				</a>
			</div>
		</div>
	</div>
</div>						